aiogram~=3.18.0
pydantic-settings
redis
openai
pytz
httpx
groq~=0.16.0
loguru~=0.7.3
gigachat
langchain-core
python-dotenv~=1.0.1
peewee~=3.17.8
langchain-gigachat
openpyxl~=3.1.5
toml~=0.10.2
PyYAML~=6.0.2